{namespace ke=Kennziffer\KeQuestionnaire\ViewHelpers}
<f:form action="createAndMailAuthCodes" controller="Backend" method="post">
	<input type="hidden" name="uid" value="{plugin.uid}" /><f:form.hidden name="pluginUid" value="{plugin.uid}" />
	<br />
	<f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.createLabel" />: <br />
        <div class="tabs">
            <!-- Radio button and lable for #tab-content1 -->
            <input type="radio" name="tabs" id="tab1" checked >
            <label for="tab1">
               <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabEmail" />
            </label>
            <!-- Radio button and lable for #tab-content2 -->
            <input type="radio" name="tabs" id="tab2">
            <label for="tab2">
                <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabFeUser" />
            </label>
            <f:if condition="{ke:premiumLoaded()}">
                <!-- Radio button and lable for #tab-content4 -->
                <input type="radio" name="tabs" id="tab4">
                <label for="tab4">
                    <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabFeUserGroup" />
                </label>            
            </f:if>
            <!-- Radio button and lable for #tab-content3 -->
            <input type="radio" name="tabs" id="tab3">
            <label for="tab3">
                <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabTtAddress" />
            </label>
            <div id="tab-content1" class="tab-content">
                <h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabEmail" /></h3>
                <p>
                    <p>
                        <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.emailLabel" />: <br />
                    </p>
                    <p><f:form.textarea name="emails" rows="10" cols="50" value="{plugin.ffdata.settings.email.invite.emails}"/><br /></p>     
                </p>
            </div> <!-- #tab-content1 -->
            <div id="tab-content2" class="tab-content">
                <h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabFeUser" /></h3>
                <p>
                    <p>
                        <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.feuserLabel" />: <br />
                    </p>
                    <p>
                        <ul class="keq-be-50-list">
                        <f:for each="{feusers}" as="user">
                        <f:if condition="{user.email}">
                                <f:then>
                                        <li>
                                                <f:form.checkbox name="feusers[]" value="{user.uid}" />({user.username}/{user.email}) {user.firstname} {user.lastname}
                                        </li>
                                </f:then>
                                <f:else>
                                        <li>
                                                &nbsp;({user.username}) {user.firstname} {user.lastname}
                                        </li>
                                </f:else>
                        </f:if>
                        </f:for>
                        </ul>
                    </p>             </p>
            </div> <!-- #tab-content2 -->
            <f:if condition="{ke:premiumLoaded()}">
                <div id="tab-content4" class="tab-content">
                    <h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabFeUserGroup" /></h3>
                    <p>
                        <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.feuserGroupLabel" />: <br />
                    </p>
                    <p>
                        <ul class="keq-be-50-list">
                        <f:for each="{fegroups}" as="group">
                                <li>
                                        <f:form.checkbox name="fegroups[]" value="{group.uid}" />{group.title}
                                </li>
                        </f:for>
                        </ul>				
                    </p>
                </div><!-- #tab-content4 -->
            </f:if>
            <div id="tab-content3" class="tab-content">
                <h3><f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.tabTtAddress" /></h3>
                <p>
                    <p>
                        <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.ttaddressLabel" />: <br />
                    </p>
                    <p>
                        <f:if condition="{ttaddresses}">
                            <f:then>
                                    <ul class="keq-be-50-list">
                                    <f:for each="{ttaddresses}" as="address">
                                    <f:if condition="{address.email}">
                                            <f:then>
                                                    <li>
                                                            <f:form.checkbox name="ttaddress[]" value="{address.uid}" />{address.first_name} {address.last_name} ({address.email})
                                                    </li>
                                            </f:then>
                                            <f:else>
                                                    <li>
                                                            {address.first_name} {address.last_name}
                                                    </li>
                                            </f:else>
                                    </f:if>
                                    </f:for>
                                    </ul>
                            </f:then>
                            <f:else>
                                    <f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.noTtaddresses" />
                            </f:else>
                        </f:if>
                    </p>
                </p>
            </div> <!-- #tab-content3 -->
        </div>        
        <br style="clear: both;" />
	<f:form.submit value="{f:translate(key: 'LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.createSubmit')}" />
	<hr />
	<f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod_authcode.xml:mail.viewMail" />: <br />
	<br />
	<div class="mailPreview">
		<b>Subject:</b> {preview.subject}<br /><br />
		<b>Mail-Text:</b><br />
		<f:format.raw>{preview.body}</f:format.raw>	
	</div>
	<hr />
	<b><a title="Edit record" onclick="window.location.href='alt_doc.php?returnUrl='+T3_THIS_LOCATION+'&edit[tt_content][{plugin.uid}]=edit'; return false;" href="#">
		<f:translate key="LLL:EXT:ke_questionnaire/Resources/Private/Language/locallang_mod.xml:editPlugin" />
		</a>
	</b>
</f:form>